# Use any OpenAI-compatible API servers.
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_CHAT_MODEL=

# Generate Personal Access Token following the documentation
# https://developers.figma.com/docs/rest-api/personal-access-tokens/
FIGMA_ACCESS_TOKEN=
